certifi==2022.12.7
chardet==4.0.0
click==8.0.1
Flask==2.0.1
idna==2.10
importlib-metadata==4.6.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
requests==2.25.1
six==1.16.0
spotipy==2.18.0
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
zipp==3.5.0
