<!DOCTYPE html>
<html lang="en">
<head>
    <title>Playlist Maker</title>
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A web app that lets you make a Spotify playlist
	with songs by artists who are similar to your favorite artist.">
	<meta name="author" content="Suzen Fylke">
	
	<link rel="icon" type="image/png" href="../static/images/suzenfylke_favicon.png">	
	<link rel="stylesheet" href="../static/css/main.css" />		
	
</head>

<body>
		<!-- Wrapper -->
			<div id="wrapper" class="divided">
			
				<!-- Your Playlist Results -->
					<section class="banner style1 orient-left content-align-left image-position-center fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h2>Here's Your Playlist</h2>
							<p>Your playlist if full of songs by artists similar to {{ artist_name }}. Enjoy! 
							<br /><a href="{{ url_for('index') }}">Click here to make another playlist.</a></p>
							<!--Change player them by pasting or removing &theme=white at the end of playlist url. -->
							<iframe src="{{ playlist_iframe_href }}" width="100%" height="300" frameborder="0" allowtransparency="true"></iframe>
						</div>
						<div class="image">
							<img src="{{ artist_image_url }}" alt="image of artist you searched for" />
						</div>
					</section>	
										
			</div>		
					

	
			<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

</body>
</html>
